<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SampleForConkurs.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=PROOFREADERWORK;PASSWORD=60398483;PERSIST SECURITY INFO=True;USER ID=ADR1"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="SampleForConkurs.Properties.Settings.SomeDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SomeDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>